{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": [
    "prettier",
    "react-app"
  ],
  "rules": {
    "no-console": 1, // Remember, this means warning!
    "semi": ["warn", "never"],
    "@typescript-eslint/semi": ["warn", "never"],
    "no-restricted-imports": [
      "warn",
      {
        "paths": [
          {
            "name": "styled-components",
            "message": "Please use the macro import instead (`import styled from 'styled-components/macro'`)."
          }
        ]
      }
    ]
  }
}
