{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-hooks", "prettier", "eslint-plugin-import"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": 1, // Remember, this means warning!
    "semi": ["warn", "never"],
    "@typescript-eslint/semi": ["warn", "never"],
    "no-restricted-imports": [
      "warn",
      {
        "paths": [
          {
            "name": "styled-components",
            "message": "Please use the macro import instead (`import styled from 'styled-components/macro'`)."
          }
        ]
      }
    ],
    "react/jsx-pascal-case": "off",
    "react/require-default-props": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {} 
    }
  }
}
