$black: #000000;
$white: #ffffff;

$giga-black: #222222;
$giga-light-grey: #f5f5f5;
$giga-grey: #9e9e9e;
$giga-dark-grey: #474747;

$grey-100: #f9fafb;
$grey-125: #fcfcfc;
$grey-150: #fafafa;
$grey-175: #f6f6f6;
$grey-200: $giga-light-grey;
$grey-250: #f2f2f2;
$grey-275: #eaeaea;
$grey-300: #e9e9e9;
$grey-325: #e8e8e8;
$grey-330: #e6e6e6;
$grey-340: #e2e2e2;
$grey-350: #e0e0e0;
$grey-360: #dadada;
$grey-375: #c6c6c6;
$grey-380: #c7c7c7;
$grey-400: #cacaca;
$grey-450: #a8a8a8;
$grey-500: $giga-grey;
$grey-550: #8d8d8d;
$grey-600: #6f6f6f;
$grey-650: #595959;
$grey-700: $giga-dark-grey;
$grey-750: #393939;
$grey-800: $giga-black;
$grey-900: #161c24;

$primary-light: #d6e4fd;
$primary-main: #277aff;
$primary-dark: #0530ad;
$primary-contrast-dark: $giga-black;
$primary-contrast-light: $white;
$secondary-light: #cde3e1;
$secondary-main: #07706d;
$secondary-dark: #005757;
$secondary-contrast-dark: $giga-black;
$secondary-contrast-light: $white;
$info-light: #61f3f3;
$info-main: #00b8d9;
$info-dark: #006c9c;
$info-contrast-dark: $giga-black;
$info-contrast-light: $white;
$success-light: #c8ecd4;
$success-main: #46c66d;
$success-dark: #00a044;
$success-contrast-dark: $giga-black;
$success-contrast-light: $white;
$warning-light: #ffe3c9;
$warning-main: #ff9f40;
$warning-dark: #f47f20;
$warning-contrast-dark: $giga-black;
$warning-contrast-light: $white;
$error-light: #ffe5e5;
$error-main: #f94b4b;
$error-dark: #cc1b2d;
$error-contrast-dark: $giga-black;
$error-contrast-light: $white;
$divider: $giga-grey;
$action-hover: rgba($giga-grey, 0.08);
$action-selected: rgba($giga-grey, 0.16);
$action-disabled: rgba(22, 22, 22, 0.25);
$action-disabled-background: rgba($giga-grey, 0.24);
$action-focus: rgba($giga-grey, 0.24);
$action-hoverOpacity: 0.08;
$action-disabledOpacity: 0.48;

:export {
  black: $black;
  white: $white;

  giga-black: $giga-black;

  giga-light-grey: $giga-light-grey;
  giga-grey: $giga-grey;
  giga-dark-grey: $giga-dark-grey;

  grey-100: $grey-100;
  grey-125: $grey-125;
  grey-150: $grey-150;
  grey-175: $grey-175;
  grey-200: $grey-200;
  grey-250: $grey-250;
  grey-275: $grey-275;
  grey-300: $grey-300;
  grey-325: $grey-325;
  grey-330: $grey-330;
  grey-340: $grey-340;
  grey-350: $grey-350;
  grey-360: $grey-360;
  grey-375: $grey-375;
  grey-380: $grey-380;
  grey-400: $grey-400;
  grey-450: $grey-450;
  grey-500: $grey-500;
  grey-550: $grey-550;
  grey-600: $grey-600;
  grey-650: $grey-650;
  grey-700: $grey-700;
  grey-750: $grey-750;
  grey-800: $grey-800;
  grey-900: $grey-900;

  primary-light: $primary-light;
  primary-main: $primary-main;
  primary-dark: $primary-dark;
  primary-contrast-dark: $primary-contrast-dark;
  primary-contrast-light: $primary-contrast-light;
  secondary-light: $secondary-light;
  secondary-main: $secondary-main;
  secondary-dark: $secondary-contrast-dark;
  secondary-contrast-dark: $secondary-contrast-dark;
  secondary-contrast-light: $secondary-contrast-light;
  info-light: $info-light;
  info-main: $info-main;
  info-dark: $info-light;
  info-contrast-dark: $info-contrast-dark;
  info-contrast-light: $info-contrast-light;
  success-light: $success-light;
  success-main: $success-main;
  success-dark: $success-dark;
  success-contrast-dark: $success-contrast-dark;
  success-contrast-light: $success-contrast-light;
  warning-light: $warning-light;
  warning-main: $warning-main;
  warning-dark: $warning-dark;
  warning-contrast-dark: $warning-contrast-dark;
  warning-contrast-light: $warning-contrast-light;
  error-light: $error-light;
  error-main: $error-main;
  error-dark: $error-dark;
  error-contrast-dark: $error-contrast-dark;
  error-contrast-light: $error-contrast-light;
  divider: rgba($giga-grey, 0.24);
  action-hover: rgba($giga-grey, 0.08);
  action-selected: rgba($giga-grey, 0.16);
  action-disabled: rgba($giga-grey, 0.8);
  action-disabled-background: rgba($giga-grey, 0.24);
  action-focus: rgba($giga-grey, 0.24);
  action-hoverOpacity: 0.08;
  action-disabledOpacity: 0.48;
}
