@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/themes/scss/utilities';
@use '../colors/dark';
@use '../colors/light';
@use '../colors/common' as *;

$dark-theme: (
  background: dark.$background-default,
  background-active: rgba(dark.$action-active, 0.5),
  background-brand: $primary-main,
  background-hover: dark.$background-paper,
  background-inverse: light.$background-default,
  background-inverse-hover: light.$background-paper,
  background-selected: rgba(dark.$action-active, 0.2),
  background-selected-hover: rgba(dark.$action-active, 0.32),
  border-disabled: $grey-375,
  border-interactive: $primary-main,
  border-inverse: $giga-black,
  border-strong-01: $grey-380,
  border-strong-02: $grey-380,
  border-strong-03: $grey-380,
  border-subtle-00: dark.$background-default,
  border-subtle-01: dark.$background-default,
  border-subtle-02: dark.$background-default,
  border-subtle-03: dark.$background-default,
  border-subtle-selected-01: $grey-325,
  border-subtle-selected-02: $grey-325,
  border-subtle-selected-03: $grey-325,
  border-tile-01: $grey-400,
  border-tile-02: $giga-grey,
  border-tile-03: $grey-400,
  field-01: $grey-150,
  field-02: $grey-150,
  field-03: $grey-200,
  field-hover-01: $grey-200,
  field-hover-02: $grey-200,
  field-hover-03: $grey-125,
  focus: $primary-main,
  focus-inset: dark.$background-default,
  focus-inverse: dark.$background-default,
  highlight: $primary-light,
  icon-disabled: $action-disabled,
  icon-interactive: $primary-main,
  icon-inverse: light.$text-primary,
  icon-on-color: light.$text-primary,
  icon-on-color-disabled: $giga-grey,
  icon-primary: dark.$text-primary,
  icon-secondary: dark.$text-secondary,
  interactive: $primary-main,
  layer-01: dark.$background-default,
  layer-02: dark.$background-paper,
  layer-03: $grey-250,
  layer-accent-01: $grey-150,
  layer-accent-02: $grey-150,
  layer-accent-03: $grey-150,
  layer-accent-active-01: $grey-450,
  layer-accent-active-02: $grey-450,
  layer-accent-active-03: $grey-450,
  layer-accent-hover-01: $grey-400,
  layer-accent-hover-02: $grey-400,
  layer-accent-hover-03: $grey-400,
  layer-active-01: $grey-325,
  layer-active-02: $grey-340,
  layer-active-03: $grey-360,
  layer-hover-01: $grey-750,
  layer-hover-02: $grey-650,
  layer-hover-03: $grey-340,
  layer-selected-01: $grey-325,
  layer-selected-02: $grey-340,
  layer-selected-03: $grey-275,
  layer-selected-disabled: $grey-550,
  layer-selected-hover-01: $grey-400,
  layer-selected-hover-02: $grey-400,
  layer-selected-hover-03: $grey-400,
  layer-selected-inverse: $giga-black,
  link-inverse: $primary-main,
  link-inverse-active: $grey-200,
  link-inverse-hover: $primary-dark,
  link-primary: $primary-light,
  link-primary-hover: $primary-main,
  link-secondary: $primary-main,
  link-visited: $giga-grey,
  overlay: rgba(22, 22, 22, 0.5),
  shadow: rgba(0, 0, 0, 0.3),
  skeleton-background: #e5e5e5,
  skeleton-element: $grey-400,
  support-caution-major: $warning-dark,
  support-caution-minor: #ffc793,
  support-caution-undefined: #8a3ffc,
  support-error: $error-dark,
  support-error-inverse: $error-main,
  support-info: $primary-dark,
  support-info-inverse: $primary-main,
  support-success: $success-dark,
  support-success-inverse: $success-main,
  support-warning: $warning-main,
  support-warning-inverse: $warning-main,
  text-disabled: dark.$text-disabled,
  text-error: $error-dark,
  text-helper: $grey-600,
  text-inverse: dark.$background-default,
  text-on-color: dark.$background-default,
  text-on-color-disabled: $grey-550,
  text-placeholder: $giga-grey,
  text-primary: dark.$text-primary,
  text-secondary: dark.$text-primary,
  toggle-off: $giga-grey
);

$dark-theme: utilities.merge($dark-theme, layout.$spacing, layout.$fluid-spacing, type.$tokens);
