.gap-16px {
  gap: 16px;
  padding-inline: 0 !important;
}
.remove-gutters-2-columns {
  padding-inline: 0 !important;
  margin-inline: 0 !important;
}

.column-remove-margin-right {
  margin-right: 0 !important;
}
