@use '../colors/common.scss' as *;

.cds--tag--warm-gray {
  white-space: nowrap;
  background-color: #e5e0df !important;
  color: #171414 !important;
}
.cds--tag--warm-gray.cds--tag--interactive:hover {
  background-color: #d8d0cf !important;
}
.cds--tag--cool-gray {
  white-space: nowrap;
  background-color: #cdd3da !important;
  color: $giga-dark-grey !important;
}
.cds--tag--cool-gray.cds--tag--interactive:hover {
  background-color: #c4c9d1 !important;
}
.cds--tag--cyan {
  white-space: nowrap;
  background-color: #bae6ff !important;
  color: #00539a !important;
}
.cds--tag--cyan.cds--tag--interactive:hover {
  background-color: #99daff !important;
}
.cds--tag--purple {
  white-space: nowrap;
  background-color: #e8daff !important;
  color: #6929c4 !important;
}
.cds--tag--purple.cds--tag--interactive:hover {
  background-color: #dcc7ff !important;
}
.cds--tag--green {
  white-space: nowrap;
  background-color: #a7f0ba !important;
  color: #0e6027 !important;
}
.cds--tag--green.cds--tag--interactive:hover {
  background-color: #74e792 !important;
}
.cds--tag--teal {
  white-space: nowrap;
  background-color: #cde3e1 !important;
  color: $giga-dark-grey !important;
}
.cds--tag--teal.cds--tag--interactive:hover {
  background-color: #93dede !important;
}
.cds--tag--red {
  white-space: nowrap;
  background-color: #ffd7d9 !important;
  color: #a2191f !important;
}
.cds--tag--red.cds--tag--interactive:hover {
  background-color: #ffc2c5 !important;
}
.cds--tag--blue {
  white-space: nowrap;
  background-color: $primary-light !important;
  color: $giga-dark-grey !important;
}
.cds--tag--blue.cds--tag--interactive:hover {
  background-color: #b8d3ff !important;
}
.cds--tag--magenta {
  white-space: nowrap;
  background-color: $warning-light !important;
  color: $giga-dark-grey !important;
}
.cds--tag--magenta.cds--tag--interactive:hover {
  background-color: #f1d5ba !important;
}
